.container {
  display: flex;
  flex-direction: column;
}

.row1 {
  display: flex;
  justify-content: center;

}

.display {
  width: 100%;
  height: 50%;
  font-size: 14px;
  border-width: 2px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  background: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.text {
  width: 100%;
  text-align: left;
  color: black;
  margin: 30px;
  /* margin-top: 0; */
}

.btn_container {
  width: 100%;
  height: 50%;
  overflow-y: scroll;
  /* position: absolute; */
  /* bottom: 20px; */
}
.input_ctn {
  height: 50px;
  width: 30%;
  border-radius: 16px;
  padding: 10px 30px 10px 30px;
  margin: 20px;
  background-color: white;
  display: flex;
  align-items: center;
}

.input{
  width: 100%;
  font-size: 18px;
  border: none;
  outline: none;

}
/* scroll bar  */
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(207, 207, 207);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 182, 182);
}
